main.container {
  border: 1px solid #c3c3c3;
  display: flex;
  flex-direction: row;
}

.container .col {
  border: 1px black solid;
  height: 50vh;
}

.col#col_1 {
  width: 200px;
  min-width: 200px;
}

.col#col_2 {
  flex-grow: 1;
  min-width: 100px;
  overflow: auto;
}

.col#col_3 {
  width: 300px;
  min-width: 300px;
}

mat-form-field.mat-form-field {
  font-size: .85em;
}

@media only screen and (max-width: 600px) {
  /* custom scrollbar for visible on mac*/
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .25em;
    height: .5em;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: .15em;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}
